.user-list-container {
  /* max-width: 400px; */
  margin: 0 auto;
}

.user-list {
  list-style-type: none;
  padding: 0;
  display:flex;
  flex-direction: column;
}

.user-item {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* margin-right: 20px; */
}

.user-details {
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 0 6px;
}

.user-details h3 {
  margin: 0;
  font-size: 18px;
}

.user-details p {
  margin: 5px 0;
}
