.groupbox-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  gap: 2vh;
  padding: 5vh;
}

.groupbox {
  background-color: #ffffff;
  width:37%;
  min-width: 300px;
  height:50vh;
  border-radius: 1.2rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.groupbox h1 {
  font-size: 2.4em;
}

.groupbox p {
  font-size: 1.8em;
}

.arrow-link {
  position: relative;
  width: 8vh;
  height: 8vh;
  cursor: pointer;
}

.arrow-link svg {
  color: black;
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 940px) {
  .groupbox {
    height: 40vh;
  }
  .groupbox h1 {
    font-size: 1.8em;
  }
  
  .groupbox p {
    font-size: 1.3em;
  }
  
  .arrow-link {
    width: 6vh;
    height: 6vh;
    cursor: pointer;
  }

}


@media screen and (max-width: 668px) {
  .groupbox {
height: 30vh;
  }
  .groupbox h1 {
    font-size: 1.5em;
  }
  
  .groupbox p {
    font-size: 1em;
  }
  
  .arrow-link {
    width: 4vh;
    height: 4vh;
  }
}